<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Student_Course_Register_Application.Properties.Settings.Course_Register_ApplicationConnectionString"
            connectionString="Data Source=DESKTOP-48MHJFV;Initial Catalog=Course_Register_Application;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>